{% load static %}

<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagem Enviada</title>
    <link rel="icon" href="{% static 'images/icon/GD_ICON_TELA.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sobre.css' %}">
    <script src="{% static 'js/all.min.6.1.1.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/typed.min.js' %}"></script>
</head>
<body class="mens_corp">
   <div class="container">
    <h1>Mensagem Enviada com Sucesso!</h1>
    <p>Obrigado por entrar em contato. Sua mensagem foi enviada com sucesso.</p>
    <p>Entrarei em contato com você em breve para responder às suas perguntas ou solicitações.</p>
    <p>Enquanto isso, sinta-se à vontade para explorar mais sobre o meu trabalho visitando a <a href="https://aghastygd.pythonanywhere.com/">página inicial</a>.</p>
  </div>
  </body>
</html>