{% load static %}

<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrigado por Contactar</title>
    <link rel="icon" href="{% static 'images/icon/GD_ICON_TELA.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sobre.css' %}">
    <script src="{% static 'js/all.min.6.1.1.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/typed.min.js' %}"></script>
   
</head>
<body>
    <p> Muito Obrigado por contactar-me, a sua mensagem foi enviada com sucesso! 
    </p> <p> Ja estou ansioso pra trabalhar com voce :D, responderei o mais brevemente possível. Fique atento no seu email
    </p>