{% load static %}

<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos com Django | Augusto Domingos</title>
    <link rel="icon" href="{% static 'images/icon/GD_ICON_TELA.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sobre.css' %}">
    <script src="{% static 'js/all.min.6.1.1.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/typed.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
   
</head>
<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="{% url 'formulario:enviar_mensagem' %}">Proje<span>tos</span></a> </div>
            <ul class="menu">
                <li><a href={% url 'formulario:enviar_mensagem' %}>Início</a></li>
                <li><a href="index.html#about">Sobre</a></li>
                <li><a href="index.html#services">Projetos</a></li>
                <li><a href="index.html#skills">Skills</a></li>
                <li><a href="index.html#contact">Contacto</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <!-- seção da página inicial -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">Sistema de Login Completo</h2>
                
            <div class="about-content">
                <div class="slideshow">
                    <img src="{% static 'images/projetos/login_system_01.png' %}" alt="">
                    <img src="{% static 'images/projetos/login_system_02.png' %}" alt="">
                    <img src="{% static 'images/projetos/login_system_03.png' %}" alt="">

                </div>
                <div class="column right">
                    <div class="text">Introdução</div>
                    <p class="p1">Um Sistema de Login que permite que os usuários se registrem, façam login e realizem a autenticação em um ambiente web seguro.
                        Utilizei o framework Django e algumas bibliotecas do Python como o SendGrid para fornecer recursos completos de autenticação e gerenciamento de usuários.
                    </p>
        
                    <h2 class="text2">Demonstração do Sistema</h2>
                    <p class="p1"><a class='a1' href="https://github.com/AghastyGD/sistema_de_login-Django" target = "_blank"> Abrir o Repositório</a>
                </div>                   
                </div>
            </div>
        </div>
        
    </section>

<footer>
<span>Criado por <a href="https://augustodomingos.netlify.app/">Augusto Domingos</a> | <span class="far fa-copyright"></span> 2023 Todos os direitos reservados.</span>
</footer>
    <script src="{% static 'script.js' %}"></script>
</body>
