{% load static %}

<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos Designer Gráfico | Augusto Domingos</title>
    <link rel="icon" href="{% static 'images/icon/GD_ICON_TELA.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sobre.css' %}">
    <script src="{% static 'js/all.min.6.1.1.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/typed.min.js' %}"></script>
   
</head>
<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="index.html">Proje<span>tos</span></a> </div>
            <ul class="menu">
                <li><a href="index.html#home">Início</a></li>
                <li><a href="index.html#about">Sobre</a></li>
                <li><a href="index.html#services">Projetos</a></li>
                <li><a href="index.html#skills">Skills</a></li>
                <li><a href="index.html#contact">Contacto</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <!-- seção da página inicial -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">Edição de Vídeos</h2>
                
            <div class="about-content">
                <div class="column left">
                    <img src="{% static 'images/projetos/projetovid_001.jpg' %}" alt="">

                </div>
                <div class="column right">
                    <div class="text">Introdução</div>
                    <p class="p1">Edição de vídeo sempre foi um hobby meu, e agora eu transformei isso em uma das minhas habilidades. Tenho experiência de mais de 3 anos nessa área, trabalhando com programas como Wondershare Filmora, Camtasia Studio, Inshot e Sony Vegas. Posso criar efeitos incríveis, incluindo remoção de fundos (Chroma Key), sincronização do áudio com o vídeo, transições, legendas e muitas outras coisas. Confira alguns dos meus trabalhos já concluídos, como AMVs, EDITS, Slideshows, Nuggets, Lyrics Videos e Chroma Key, a maioria disponível no meu canal do YouTube e outros adicionais estão na pasta do Drive. Clique nos links abaixo para conferir!</p>
                    <h2 class="text2">Demonstração dos Vídeos</h2>
                    <p> <a class="a1" href="#" >Abrir o Drive</a> <a class="a1" href="https://www.youtube.com/channel/UCutT1cn1HmPOCk2y2LVM7RA/videos" target="_blank" > Abrir o Canal do Youtube</a> </p> 
                </div>                   
                </div>
            </div>
        </div>
        
    </section>
</footer>
<footer>
<span>Criado por <a href="https://augustodomingos.netlify.app/">Augusto Domingos</a> | <span class="far fa-copyright"></span> 2022 Todos os direitos reservados.</span>
</footer>
    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>